body {
    font-family: 'Arial', sans-serif;
    background-color: #ff5e5e;
}

/* Cabecera con rojo más claro */
header {
    background-color: #ff9999;
    padding: 20px;
    border-radius: 10px;
    height: 250px;
}

.logo {
    width: 150px;
    position: absolute;
    margin-left: 27%;
    height: 250px;

}

/* Estilo de las cartas */
.card {
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 140px; 
    height: 180px; 
    margin: auto;
    position: relative;
    margin-top: 10px;
    background-color: transparent;
}

/* Imagen de la Pokébola de fondo */
.card::before {
    content: '';
    background-image: url('../pokeball.png');
    background-size: 70%; 
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.8;
}

/* Imagen del Pokémon */
.card img {
    width: 80px; 
    height: auto;
    margin: 0 auto;
    display: block;
    position: relative;
    padding-top: 30px;
    z-index: 2;
    background-color: transparent;
}

/* Contenedor del texto más pequeño y separado */
.card-body {
    background-color: transparent;
    padding: 2px;
    margin-top: 5px;
    z-index: 3;
    background-color: #ff9999;
    border-radius: 10px;
    margin-top: 70px;
    height: 15px; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* Texto de las cartas */
.card-text {
    font-size: 10px; 
    font-weight: bold;
    color: #333;
    margin: 0;
    text-align: center;
}
