@font-face {
    font-family: "Jaro";
    src: url(../fonts/Jaro-Regular-VariableFont_opsz.ttf);
}

html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #FF000050, #FFFFFF50);
}

.main{
    margin: 5%;
    text-align: center;
    height: 100%;
}

.main>h2{
    font-family: "Jaro";
    font-size: 54px;
    font-weight: 100;
}

.main>a{
    background-color: #F5F5F5;
    border: 2px solid black;
    /*margin-top: 500px;
    padding: 200px*/;
}
